.card{
    width: 33%;
}

.carousel{
    width: 70%;
    margin: auto;
}

.carousel-indicators [data-bs-target]
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: teal;
}

.carousel-indicators{
    bottom: -90px;
}


